.intro__subtitle{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}
@media (min-width: 768px){
    .intro__subtitle{
        line-height: 34px;
    }
}