.places__paragraphs-wrapper{
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 25px;
    margin: 0px 16px;
}
@media (min-width: 768px){
    .places__paragraphs-wrapper{
        margin: 0;
    }
}