.adress__texts-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    gap: 16px;
}
@media(min-width: 768px){
    .adress__texts-wrapper{
        gap: 32px;
    }
}