.adress__texts-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 140px);
    gap: 16px;
}
@media(min-width: 768px){
    .adress__texts-wrapper{
        top: calc(50% - 75px);
        left: calc(50% - 320px);
        gap: 32px;
    }
}