.adress__texts-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 320px);
}
@media(max-width: 700px){
    .adress__texts-wrapper{
        top: calc(50% - 40px);
        left: calc(50% - 140px);
        gap: 16px;
    }
}