.intro{
    max-width: 690px;
    margin: 0 148px 92px 148px;
}
@media (max-width: 1024px) {
    .intro{
        margin: 0px 48px 92px 48px;
    }
}
@media (max-width: 768px) {
    .intro{
        margin: 0px 24px 88px 24px;
    }
}
@media (max-width: 400px) {
    .intro{
        margin: 0px 16px 64px 16px;
    }
}