.header__subtitle{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 620px;
    margin: 0 16px 40px 16px;
}
@media(min-width: 768px){
    .header__subtitle{
        margin: 0 24px 56px 24px;
        font-size: 30px;
        line-height: 36px;
    }
}
@media(min-width: 1024px){
    .header__subtitle{
        margin: 0px 0px 64px 0px;
    }
}