.intro__title{
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    margin-bottom: 40px;
}
@media (min-width: 768px){
    .intro__title{
        font-size: 54px;
        line-height: 58px;
    }
}